<footer id="contact" class="py-5 d-flex justify-content-center">
    <ul>
        <div id="icon-container">
            <a href="#">
                <div class="icon">
                    <li><i class="fab fa-linkedin"></i></li>
                </div>
            </a>
            <a href="#">
                <div class="icon">
                    <li><i class="fab fa-github"></i></li>
                </div>
            </a>
            <a href="#">
                <div class="icon">
                    <li><i class="far fa-envelope"></i></li>
                </div>
            </a>        
            
        </div>
    </ul>
    <div class="container-fluid d-flex justify-content-center pt-5 text-center text-footer">
        <div class="text-footer row w-100 d-flex justify-content-center">
            <div class="col-4 d-flex justify-content-center">
                <ul>
                    <li> <a href="#">Compétences</a> </li>
                    <li><a href="#">Expérience</a></li>
                    <li><a href="#">Projets</a></li>
                </ul>
            </div>
            <div class="col-4 d-flex justify-content-center">
                 <ul>
                    <li> <a href="#">Contact</a></li>
                    <li> <a href="#">A propos</a></li>
                </ul>
            </div>
            <div class="col-4 d-flex justify-content-center">
            <ul>
                <li> <a href="#">Téléchargez mon CV</a></li>
                <li> <a href="#">Panel d'administration</a></li>
            </ul>
            </div>
        </div>
    </div>
    <div class="copyright d-flex justify-content-center color-black pt-5">
        Tous droits réservés ©MOULIN Jordan
    </div>
</footer>