<nav class="navbar">
  <div class="navLinks">
      <a href="#">Compétences</a>
      <a href="#">Expériences</a>
      <a href="#">Mes projets</a>
      <a href="#" class="contactLink">Contact</a>
  </div>

  
  <div class="iconLinks">
      <a href=""><i class="fa-brands fa-github"></i></a>
      <a href=""><i class="fa-brands fa-linkedin"></i></a>
  </div>
</nav>