{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<section class="titleBody">
    <div class="container-fluid h-100 g-0">
        <div class="row h-100 g-0">
            <div class="col-7">
                <div class="h-50 d-flex align-items-center">
                    <h1><span>M</span>oulin Jordan</h1>
                </div>
                <div class="h-50">
                    <p class="display-6">Développeur Web et Web mobile,</p>
                    <p class="display-6">Orienté "Backend/Full stack".</p>
                    <a href="#" class="btn btn-custom1">Télécharger mon CV <i class="fa-solid fa-download"></i></a>
                </div>

            </div>
            <div class="col-5">


            </div>


        </div>
    </div>
</section>

{% endblock %}