*{
    margin: 0;
    padding: 0;
    border:0;
}

body {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color : black;
}
/*Navbar*/
.navbar{
    background-color: #F7F7F7;
    display: flex;
    height:10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}
.navbar .navLinks{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 15px 0;
    margin-left: 20px;
}
.navbar .navLinks a{
    font-size : 135%;
    margin: 0 0.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
}
.contactLink{
    background-color: #4895B6;
    color:white !important;
    padding : 0 15px 0 15px;
    height : 65%;
    border-radius: 2px;
}
.contactLink:hover{
    color:rgb(223, 223, 223) !important;
}
.iconLinks {
    font-size : 2.0em !important;
    padding : 0 50px;
}
.iconLinks a{
    color: #4895B6;
    padding : 5px;
}
nav a:hover{
    color: #51a8cd!important;
    cursor :pointer;
}
/*Premiére section*/
.titleBody{
    height: 90vh;
    background-color: #F7F7F7;
}

span {
    color: #4895B6;
    font-size: 120%;
    font-weight: bold;
}
.titleBody h1{
    margin-left : 50px;
    font-size : 5.5em;
    margin-bottom: 0;
}
.titleBody p{
    margin-left : 56px;
    margin-bottom: 0;
}
.btn-custom1 {
    color: #4895B6;
    border-color: #4895B6;
    border-radius : 3px;
    margin: 20px 0 0 56px;
}
.btn-custom1:hover{
    color: #ffffff;
    background-color: #4895B6;
}
.profilePicture{
    margin-left: 100px;
    height : 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #4895B6;
}
/*Compétences*/
.skills{
    height : fit-content;
}
.color-black{
    color:#000000;
}
.color-html{
    color :#e96228;
}
.color-css{
    color :#2862e9;
}
.color-js{
    color :#f7df1e;
}
.color-php{
    color:#54618a;
}
.color-bg-grey{
    background-color :#f7f7f7;
}
.color-bg-white{
    background-color: #f7f7f7;
}
.card{
    min-width: 260px;
    border-radius: 3px;
    border: none;
}
.card-header{
    border :none;
}
/*seconde section (expériences)*/

.title-exp{
    padding: 5vh 0 0 10vw;
}
.text-exp{
    padding-left: 10vw;
    font-size : 150%;
}
.iconContainer{
    font-size: 180%;
}
.iconContainer a:hover{
    color: #51a8cd;
}
/*Form contact*/
.form-contact{
  background-color: #4895B6;
}
.titleContainer-blue {
    color:white;
}
.titleContainer-blue span{
    color : white;
}
.form-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-container form{
    background-color: white;
    padding : 10px;
    border-radius: 3px;
    
}
.form-container form button{
    border-radius: 3px;
    margin-top:20px;
    background-color: #4895B6;
    border : none;
}
.title-contact{
    padding-left: 50px;
}

.form-container form button:hover{
    background-color:#51a8cd;
}
.form-container form input{
    width: 50vw;
    margin : 10px 0 10px 0;
    border:none;
    background-color: #f7f7f7;
}
.form-container form textarea{
    background-color: #f7f7f7;
    width: 50vw;
    border: none;
    resize: none;
    margin-top:10px;
}
.title-desc{
    font-size: 150%;
    margin-left:50px;
}
/* Footer*/
ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  #contact a {
    color: #000000;
    margin: 10px;
  }
  
  #contact {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #F7F7F7;
  }
  
  .icon {
    background-color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s, box-shadow 0.5s;
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 2px 2px rgb(0 0 0 / 24%);
  }
  
  #icon-container {
    display: flex;
    justify-content: center;
  }
  
  .icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
  }
  
  #contact p {
      font-size: 14px;
  }
  .text-footer{
    height:40vh;
  }

  footer{
    color:black;
  }
  .text-footer{
    height:fit-content;
  }
  .separator{
    height : 2px;
    width: 70%;
    margin : 10px 0 10px 0;
    background-color: rgba(228, 228, 228, 0.381);
    border: rgba(228, 228, 228, 0.381);
    border-radius: 50%;
  }